@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow: hidden;
    margin-top: 10px;
    width: 100vw;
    height: 90vh;
    background-color: goldenrod;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#image{
    background-image: url('../imgs/forca.png');
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}

#word{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    margin-top: 20px;
}

.letters{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #8b008b;
    color: white;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.lettersSpace{
    width: 16px;
    text-align: center;
    color: white;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#keyboard{
    margin: 10px;
}

.keys button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgray;
    color: #8b008b;
    font-weight: 900;
}

.keys button:disabled{
    cursor: not-allowed;
}

.keys button:hover{
    transform: scale(1.3);
}

#category{
    margin-top: 2px;
    margin-bottom:2px;
    color: #8b008b;
    font-size: 1.2rem;
}

@media (min-width:321px){
    .keys button{
        width: 30px;
        height: 30px;
    }

    .letters{
        width: 18px;
    }

    #word{
        font-size: 1.3rem;
    }

    #category{
        font-size: 1.5rem;
    }
}

@media (min-width:426px){
    .keys button{
        width: 36px;
        height: 36px;
    }

    .letters{
        width: 20px;
    }

    #word{
        font-size: 1.5rem;
    }

    #category{
        font-size: 1.6rem;
    }
}

@media (min-width:769px){
    .keys button{
        width: 68px;
        height: 68px;
        font-size: 2rem;
    }

    .letters{
        width: 35px;
    }

    #word{
        font-size: 2.5rem;
    }

    #category{
        font-size: 2rem;
    }
}